 
.forgot {
    text-decoration: none;
    font-size: 0.875em;
}

#login-div {
    display: flex;
    justify-content: flex-end;
}

#login-button {
    width: 70px;
}

.no-account {
    font-size: 0.875em;
}

.create-account {
    text-decoration: none;
}